{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi there👋🏼, my name is Prajjwal Mathur, I mainly build in Python(flask, Django), JavaScript, C++, Java and MySQL
        </p>
        <p>
          My current goals are to use my relevant skills and experience to build apps and solutions that could help my employer(currently no employer :)) and me grow exponentially.
            </p>
          <p>
            I am actively looking for suitable SDE roles, ready to go for assessments and talk.
        </p>
        <p>
         Apart from academics, I am active on Leetcode, Codeforces, and usually seen talking about motorsports and games.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
